<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <meta charset="utf-8">
        <title>Delte Stores</title>
    </head>
    <body>
        <div class="container">
            <h1>All of your Stores have been cleared</h1>
            <a href="/"><button class="btn btn-success">Home</button></a>
        </div>
    </body>
</html>
