<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Shoes Catalog</title>
</head>
<body>
    <div class='container'>
        <h1>Shoes Catalog</h1>
        <p>It's working!</p>
    </div>
</body>
</html>
