<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Shoes Catalog</title>
</head>
<body>
    <div class='container'>
        <h1>Welcome to the Shoes Catalog!</h1>

        <h3><a href="/brands">Add or view a shoe Brand</a></h3>
        <h3><a href="/stores">Add or view a Store</a></h3>

    </div>
</body>
</html>
